/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
    background-color: #333;
    color: #f0f8ff;
}

header {
    background-color: #ff6347;
    color: white;
    padding: 1em;
    text-align: center;
}

header.dark-mode {
    background-color: #444;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

button.pulse {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    border: none;
    border-radius: 34px;
    cursor: pointer;
    transition: background-color 0.3s;
    outline: none;
}

button.pulse:hover {
    animation: textPulse 10s infinite;
}

@keyframes textPulse {
    0% {
        transform: scale(1);
        background-color: #000;
    }
    25% {
        transform: scale(2);
        background-color: #000;
    }
    50% {
        transform: scale(3);
        background-color: #000;
    }
    75% {
        transform: scale(4);
        background-color: #000;
    }
    100% {
        transform: scale(20);
        background-color: #000;
    }
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    border-radius: 34px;
    transition: background-color 0.3s;
}

button.pulse:active + .slider {
    background-color: #66bb6a;
}

main {
    padding: 10em;
}


ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #ffebcd;
    margin: 0.5em 0;
    padding: 0.5em;
    border-radius: 5px;
    transition: transform 0.3s;
}

li:hover {
    transform: scale(1.1);
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

.fade-out:hover {
    animation: fadeOut 3s ease-out-in;
}

@keyframes slideIn {
    from { transform: translateX(-100%); }
    to { transform: translateX(0); }
}

.slide-in {
    animation: slideIn 1s ease-out;
}

@keyframes rotate {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.rotate {
    animation: rotate 4s linear infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.pulse:hover {
    animation: pulse 0.5s infinite;
}

@keyframes textPulse {
    0% {
        transform: scale(1);
        color: #333;
    }
    50% {
        transform: scale(1.5);
        color: #ff6347;
    }
    100% {
        transform: scale(1);
        color: #333;
    }
}

.pulse-text:hover {
    display: inline-block;
    animation: textPulse 0.5s infinite;
}

